extends layout 

block delete 
  if(user)
      form.deleteF(action="" method="POST")
        input#messageId(type="hidden", name="messageId", required="true", value=message._id)
        p Are you sure, you want to delete this post?
        p Title: #{message.title}
        p Message: #{message.message}
        <br>
        <br>
        button.create(type="submit") Delete Message
      if errors 
        ul
          for error in errors
            li!= error.msg